<style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        #container {
            display: flex;
            flex: 1;
        }

        #sidebar {
            width: 200px;
            background-color: #333;
            color: #fff;
            padding: 20px;
        }

        #main-content {
            flex: 1;
            padding: 20px;
        }

        #main-content h2 {
            color: #333;
        }

        #sidebar a {
            display: block;
            color: #fff;
            text-decoration: none;
            padding: 10px;
            margin-bottom: 5px;
            border-radius: 5px;
            background-color: #555;
            transition: background-color 0.3s;
        }

        #sidebar a:hover {
            background-color: #777;
        }

        #search-bar {
            margin: 10px 0;
            padding: 10px;
            display: flex;
        }

        #search-input {
            flex: 1;
            padding: 5px;
        }

        #search-button {
            background-color: #555;
            color: #fff;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }

        #search-button:hover {
            background-color: #777;
        }
    </style>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>
    <script>
    MathJax = { 
        tex: { 
            tags: 'ams'}
         };
    </script>
    <style>
        body {
          padding-right: 2%;
          padding-left: 2%;
          padding-bottom: 2%;
          padding-top: 2%;
          margin: 0; /* Resetting default margin */
        }
    
    body,
    h1 {
        counter-reset: h2;
    }
    h2::before {
        counter-increment: h2;
        content: counter(h2) ' - ';
    }
    h2 {
        counter-reset: h3;
    }
    h3::before {
        counter-increment: h3;
        content: counter(h2) '.' counter(h3) ' - ';
    }
    h3 {
        counter-reset: h4;
    }
    h4 {
        counter-reset: h5;
    }
    h4::before {
        counter-increment: h4;
        content: counter(h2) '.' counter(h3) '.' counter(h4) ' - ';
    }
    h5::before {
        counter-increment: h5;
        content: counter(h2) '.' counter(h3) '.' counter(h4) '.' counter(h5) ' - ';
    }
    .items{
        text-align:center;
        margin:50px auto;
    }
    .items figure{
        margin:0px 20px;
        display:inline-block;
        text-decoration:none;
        color:black;
    }
    img {
        max-width: 100%;
        height: auto;
        width: auto; /* ie8 */
    }
        /* Other CSS styles here */
    </style>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>
    <script>
    MathJax = { 
        tex: { 
            tags: 'ams'}
         };
    </script>
    <script src="jquery.js"></script> 
    <script> 
    $(function(){
      $("#includedContent").load("index11.html"); 
    });
    </script> 